
html {
    font-size: 16px;
}

body {
    background: black;
}

a {
    text-decoration: none;
}

img {
    margin: 0.8rem;
}
/*
.bouton-1:hover {
    opacity: 0.5;
    color:white;
}
*/
.bouton:hover, .logo:hover{
    opacity: 0.9;
}

#link, #logo {
    text-align: center;
}

.bouton {
    font-size: 1.4rem;
    margin: 2rem;
    /*haut droit bas gauche*/
    padding: 0.5rem 5rem 0.5rem 5rem;
    border-radius: 0.3rem;
    display: inline-block;
}

.bouton-1 {
    background-color: #e75b41;
}

.bouton-color-1 {
    color: white;
}


.bouton-2 {
    background-color: white;
}

.bouton-color-2 {
    color: #e75b41;
}

.bouton-1 .bouton-2:hover{
    opacity: 0.5;
}

.logo {
    height: 1.7rem;
}